body {
  background: #FFE4E1;
  background-position: cover;
}
h1  {
  font-family: <link href='https://fonts.googleapis.com/css?family=Lobster' rel='stylesheet' type='text/css'>;
  color: black;
  font-size: 70px;
}
#container {
  text-align: center;
}